body{
    margin:0px;
    height:100%;
    background-image:url("../images/login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.center-block{
    float:none;
}
   
.login{
    background: rgba(0, 0, 50, 0.5);
    border: 1px solid #999999;
    margin-top:70px;
    padding:20px;
}

.login:hover, .login:focus{
    box-shadow: 0px 0px 40px blue,  0px 0px 40px white;
}

.cont-login{
    width:70%;
}
   
.textC{
    color: #99c2ff;
}

h1{
    font-size: 600%;
    color: #99c2ff;
}

@media screen and (max-width:768px){
    h1{
        font-size: 300%;
    }
   .cont-login{
        width:90%;
    }
}