h3{
    color:#333333;
}
        
.img-perfil{
    width: 70%;
    height: 120px;
    margin-top: 20px;
}

.posts2{
    background: #e6ecff;
}

.post{
    background: white;
}

@media screen and (max-width:480px){
    .img-perfil{
        width: 100%;
    }
}

#post-remove-button, #post-edit-button{
    cursor: pointer;
    margin-left: 10px;
}

h5{
    font-weight: bold;
    font-size: 16px;
}

.post .thumb img{
    width:600px;
    height: 150px;
}

#imagen-pre2{
    width: 150px;
    height: 150px;
}