#result-head{
   color: white;
}
	
.result{
    background: white;
    padding:20px;
    padding-bottom: 10px;
    margin-bottom:10px;
    border-bottom: 1px solid #999;
    width: 70%;
}
    
.result .result-title a{
    color: black;
}
    
.result .thumb{
    margin-right: 10px;
    text-align: center;
    width:30%;
}

.list-group:hover .list-group-item:hover{
	background:gray;
	color:white;
}

img.img-thumbnail{
    width: 130px;
    height: 230px;
}

@media screen and (max-width:868px){

    .result .thumb{
    margin-right: 10px;
    width:100%;
    text-align: center;
    }

    .result .thumb{
        width:100%;
    }
    .result{
        width: 80%;
    }

    img.img-thumbnail{
    width: 250px;
    height: 350px;
    }
}
    
@media screen and (max-width:620px){
        
    .logo{
        width: 90%; 
        height: 120px;
    }

    .result{
        width: 100%;
    }

      img.img-thumbnail{
    width: 150px;
    height: 250px;
    }

}